{% extends 'base.html.twig' %}

{% block title %}New Produit2{% endblock %}

{% block body %}
    <h1>Create new Produit2</h1>

    {{ include('produit2/_form.html.twig') }}

    <a href="{{ path('app_produit2_index') }}">back to list</a>
{% endblock %}
